:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 150ms var(--timing-function),
      background-color 150ms var(--timing-function);
    /* background-color: #333; */
  }
  .header{
      display: block;
      margin: 0px auto;
      padding: 5px 20px;
      background-color: dimgray;
      font-size: 30px;
  }
  .logo{
      display: inline-flex;
      margin-right: 20px;
      font-weight: bold;
      
  }
  .logo .logo--p1{}
  .logo .logo--p2{
      color: white;
  }
  .search{
      display: inline-flex;
      font-size: inherit;
  }
  .result{
    display: block;
    width: 100%;
    padding: 30px 50px;
    background-color: lightgray;
  }
  .country-name{
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .info-content{
    display: flex;
    width: 100%;    
  }
  .info{
    display: block;
    width: calc(50% - 10px);
    margin-right: 20px;
    list-style: none;
  }
  .info__item__caption{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
  }
  .info__item__list{
    list-style-type: disc;
  }
  .info__item__text{
    font-size: 30px;
    font-weight: normal;  
  }    
  
  .flag-container{
    display: block;
    width: calc(50% - 10px);
  }
  .country-flag{
    display: block;
    width: 100%;
    outline: 1px solid gray;
  }